  div.left {
    float:left;
    width:188px;
    font-weight:bold;
    }

  div.right {
    float:right;
    width:258px;
    }

  td.left {
    width:188px;
    font-weight:bold;
    border-bottom:solid #bbb 1px;
    padding-right:10px;
    }

  td.right {
    width:238px;
    border:solid #bbb 1px;
    border-width:0px 0px 1px 1px;
    }

  .ef {
    background:#efefef;
    font-size:85%;
    }

  .ff {
    background:#fff;
    font-size:85%;
    }

  .break {
    background:#0069b3;
    border-style:solid;
    border-color:#000;
    border-width:1px 0px 1px 0px;
   }

