
  .supnav {
    background-color:#324395;
    background-image:url('../gifs/dev_head_bg.gif');
    border-style:solid;
    border-color:#000000;
    border-width:1px;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    padding:0px 0px 2px 0px;
    margin:0px;
    cursor:pointer;
    }

  .subnav {
    background-color:#0069b3;
    background-image:url('../gifs/dev_sub_head_bg.gif');
    border-style:solid;
    border-color:#000000;
    border-width:1px;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    padding:0px 0px 2px 0px;
    margin:0px;
    cursor:pointer;
    }


  .subnavA {
    background-color:#0069b3;
    background-image:url('../gifs/dev_sub_head_bgA.gif');
    border-style:solid;
    border-color:#000000;
    border-width:1px;
    font-family:arial;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    padding:0px 0px 2px 0px;
    margin:0px;
    }

  .comnav a {
    color:#ffffff;
    text-decoration:none;
    }

  .comnav a:hover {
    color:#ffffff;
    text-decoration:underline;
    }

  div.topical {
    border-width:1px;
    border-color:#000000;
    border-style:solid;
    background-color:#f5f5f5;
    margin:25px;
    padding:15px 30px 15px 30px;
    font-weight:bold;
    font-size:12px;    
    font-family:trebuchet ms,arial;
    }

  p.indent {
    text-indent:15px;
    }

  p.verse {
    padding-left:20px;
    font-weight:bold;
    }
    
  p.block {
    text-align:justify;
    padding-left:25px;
    padding-right:25px;
    }
p.blocklj {
    text-align:left;
    padding-left:25px;
    padding-right:25px;
    }
  p.Head2 {
    text-align:left;
    padding-top:25px;
    padding-bottom:10px;
    font-size:105%;
    font-weight:bold;
    }

  p.Blockquote {
    text-align:justify;
    padding-left:25px;
    padding-right:25px;
    }
    
  p.captions {
    padding:20px 5px 10px 5px;
    text-align:center;
    font-weight:bold;
    }

  p.vref {
    text-align:right;
    margin-top:-20px;
    padding:0px 25px 10px 25px;
    }

  p.lmargin {
    padding-left:25px;
    }

  p.jbRomTitle {
    padding-left:0px;
    font-weight:bold;
    }

  p.jbheader {
    text-align:center;
    color:#233455;
    font-weight:bold;
    font-size:115%;
    }

  p.jbCapLetter {
    padding-left:15px;
    }

  p.jbArabic {
    padding-left:30px;
    }

  p.jbMiniscule {
    padding-left:45px;
    }

  p.jbArabicParen {
    padding-left:60px;
    }

  p.jbMinisculeParen {
    padding-left:75px;
    }

  p.jbSmRomParen {
    padding-left:90px;
    }

  p.jbMinisculeParen2 {
    padding-left:100px;
    }

  p.jbSmRomParen2 {
    padding-left:110px;
    }

  p.showhide {
    margin:5px 0px 0px 25px;
    text-indent:-11px;
    font-size:100%;
    cursor:pointer;
    }

  p.bullet2 {
    margin:20px 0px 0px 15px;
    text-indent:-11px;
    font-size:95%;
    }

  p.bullet3 {
    margin:3px 0px 0px 25px;
    text-indent:-11px;
    font-size:95%;
    }

  p.bullet4 {
    margin:3px 0px 0px 45px;
    text-indent:-11px;
    font-size:95%;
    }

  p.bullet5 {
    margin:5px 0px 0px 25px;
    text-indent:-11px;
    font-size:100%;
    }

  p.hangIndent {
    padding-left:25px;
    text-indent:-25px;
    }

  p.cmn {
    margin-left:20px;
    }

  td.cmtdleft {
    padding:3px;
    border-width:1px 0px 0px 0px;
    border-style:solid;
    border-color:#000;
    vertical-align:top;
    text-align:left;
    }

  td.cmtdcent {
    padding:3px;
    border-width:1px 0px 0px 1px;
    border-style:solid;
    border-color:#000;
    width:30px;
    padding:3px;
    vertical-align:top;
    text-align:center;
    }

  td.cmtdtop {
    padding:3px;
    vertical-align:top;
    text-align:center;
    border-width:0px 0px 0px 1px;
    border-style:solid;
    border-color:#000;
    }

 .scripture {
	padding:15px 20px 15px 20px;
	text-align:justify;
   }

 .ml20 {
   margin-left:20px;
   }

/* AGR the following are styles collected from David Guziz Study Guide */
 span.c3 {color:maroon;}
 span.c8 {color:maroon;}
 span.c6 {font-variant:small-caps;}
 span.c7 {font-variant:small-caps;}
 span.c8 {font-weight:bold;color:maroon;}
 span.mscap {color:maroon;font-variant:small-caps;}

 ul.c6 {margin-left:60px;}
 p.c1 {margin-left:20px;}
 p.c2 {margin-left:20px;color:maroon;font-weight:bold;}
 p.c4 {margin-left:40px;}
 p.c4ti25  {margin-left:40px;text-indent:0.25in;}
 p.c5 {margin-left:60px;}
 p.c6 {margin-left:80px;}
 p.c7 {margin-left:40px;text-indent:.25in;}
 td.td0110 {border-width:0px 1px 1px 0px;border-color:#000;border-style:solid;}
 td.td0010 {border-width:0px 0px 1px 0px;border-color:#000;border-style:solid;}
 td.td0100 {border-width:0px 1px 0px 0px;border-color:#000;border-style:solid;}

/* AGR the following are styles collected from L.S. Chafer, Salvation */
/*.scripture {
padding-left:20px;
padding-right:20px;
text-align:justify;
}
*/
p.italic {font-style: italic;}

/* AGR The following style are collected from Mark Eastman Search for Messiah */
hr.mes {border-top: 1px; height:1px; width:80%; align:center; color:"#000000";}

/* AGR Collected from Pirolo Serving as Senders */
div.SASr {text-align:right;}

/* AGR Collected from Terasaka Crucify.html */
h2.cen {"text-align: center"}

/* AGR Added to MHC */
ul.mhc {list-style-type:none;}