  .concef {
    background:#efefef;
    font-size:90%;
    }

  .theConc {
    font-size:125%;
    margin:4px 0px 4px 0px;
    }

  .concff {
    background:#ffffff;
    font-size:100%;
    }

  .concHead {
    margin:0px;
    border:solid #000 1px;
    background-color:#324395;
    padding:2px 0px 2px 0px;
    color:#ffffff;
    font-size:90%;
    }

  .scroll1_out {
    margin:0px;
    border:solid #000 1px;
    border-width:0px 1px 0px 1px;
    background-image:url('../gifs/hbr_bkgNEW.jpg');
    padding:4px 10px 8px 10px;
    }

  .scroll1_out_bu {
    margin:0px;
    border:solid #000 1px;
    border-width:0px 1px 0px 1px;
    background-image:url('../gifs/hbr_bkgNEW.jpg');
    padding:17px 10px 17px 10px;
    }

  .scroll1_in_unused {
    width:100%;
    font-size:11px;
    text-align:right;
    background:#ffffff;
    border-style:solid;
    border-width:1px;
    border-color:#000000;
    padding:3px 2px 5px 2px;
    }

  .scroll2_out {
    border:solid #000 1px;
    margin-bottom:0px;
    background-image:url('../gifs/hbr_bkgNEW.jpg');
    padding:4px 10px 8px 10px;
    }

  .scroll2_in_unused {
    width:100%;
    font-size:11px;
    text-align:left;
    background:#ffffff;
    border-style:solid;
    border-width:1px;
    border-color:#000000;
    padding:3px 2px 5px 2px;
    }