table {
  border-collapse:collapse;
  border-spacing:0;
  }
.hta ul {
  list-style:none;
  padding:0;
  margin:0 0 10px;
  }
.hta ul.focus {
  background-color:#fffff3;
  border:solid #d6d384 1px;
  padding:6px 6px 6px 25px;
  margin-top:6px;
  }
.hta ul ul {
  padding-left:25px;
  }
.hta li {
  text-indent:-15px;
  padding-left:15px;
  }

.hta li.focus {
  background-color:#fffff3;
  border:solid #d6d384 1px;
  padding:2px 2px 2px 39px;
  margin-left:-25px;
  }

#htaTableHead {
  width:435px;
  height:21px;
  background-color:#ebebeb;
  border:solid #444 1px;
  border-bottom-width:0;
  }

#htaTableHead table {
  width:100%;
  margin:0;
  padding:0;
  }

#htaTableHead table td {
  margin:0;
  padding:0;
  vertical-align:bottom;
  }

#copyClipOpt {
  margin-bottom:-1px;
  }

#changeForm div {
  margin:0 -3px 0 3px;
  padding:0;
  border-color:#ccc;
  border-width: 1px 1px 0pt;
  height:20px;
  width:170px;
  }

#changeForm form {
  margin:0 -3px 0 3px;
  padding:0;
  }

#changeForm select {
  border-color:#ccc;
  border-width: 1px 1px 0pt;
  height:20px;
  width:170px;
  }

#mark2ndRefs {
  margin-right:-15px;
  }

#htaTableDiv {
  width:460px;
  border:solid #444 1px;
  padding:0;
  }

#htaTable tr td {
  font-weight:normal;
  vertical-align:top;
  padding:5px;
  }

#htaTable tr td:first-child {
  width:70px;
  }

#htaTable tr td span.nowrap {
  white-space:nowrap;
  font-weight:bold;
  }

#htaTable tr.a {
  background-color:#fff;
  }

#htaTable tr.b {
  background-color:#f5f5f5;
  }

#htaTable tr.markedRef {
  background-color:#fefdea;
  }

#htaTable tr.selectedRef {
  background-color:#d3e4f2;
  }

#htaTable tr.HTAnote {
  background-color:#fffff9;
  }

#htaTable tr.HTAnote td {
  padding:0 8px 8px 12px;
  }

#htaTable tr.a + tr.HTAnote td, #htaTable tr.b + tr.HTAnote td {
  padding-top:12px;
  }

#htaTable tr.a + tr.b td, #htaTable tr.b + tr.a td {
  border-top:solid #ddd 1px;
  }

#htaTable tr.HTAnote td, #htaTable tr.markedRef td, #htaTable tr.markedRef + tr.markedRef td, #htaTable tr.a + tr.markedRef td, #htaTable tr.b + tr.markedRef td, #htaTable tr.markedRef + tr.a td, #htaTable tr.markedRef + tr.b td {
  border-top:solid #c9c89e 1px;
  }

#htaTable tr.a.markedRef + tr.a.markedRef td, #htaTable tr.b.markedRef + tr.b.markedRef td, #htaTable tr.HTAnote + tr.HTAnote td{
  border-width:0;
  }

#htaTable tr.selectedRef td, #htaTable tr.selectedRef + tr.selectedRef td, #htaTable tr.a + tr.selectedRef td, #htaTable tr.b + tr.selectedRef td, #htaTable tr.selectedRef + tr.a td, #htaTable tr.selectedRef + tr.b td {
  border-top:solid #a9bbc9 1px;
  }

#htaTable tbody tr.HTAnote:first-child, #htaTable tbody tr.HTAnote:first-child ~ tr.HTAnote {
  background-color:#fff;
  border-top:solid #fff 0;
  }

#htaTable tbody tr.markedRef:first-child td, #htaTable tbody tr.selectedRef:first-child td {
  border-top:solid #c9c89e 0;
  }

.htaTableClose {
  float:right;
  margin-right:10px;
  margin-bottom:-2px;
  }

.htaTableDiv + .htaTableClose {
  float:right;
  margin-right:10px;
  }

div.clear {
  clear:both;
  font-size:1px;
  }

#htaContainer {
  margin-top:7px;
  margin-bottom:15px;
  }

ul ul #htaContainer {
  margin-left:-55px;
  }

ul ul ul #htaContainer {
  margin-left:-95px;
  }

ul ul ul ul #htaContainer {
  margin-left:-135px;
  }

ul ul ul ul ul #htaContainer {
  margin-left:-175px;
  }

ul ul ul ul ul ul #htaContainer {
  margin-left:-215px;
  }


span [style~="153")] {
  display:none;
  }

  #copyClip {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
    top:-7px;
    left:-9px;
    width:107px;
    height:17px;
    padding:0;
    margin:0 0 -17px;
    }
  #copyClip img {
    border:0;
    cursor:pointer;
    }
  #copyOptions {
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    float:left;
    position:absolute;
    background-color:#fff;
    border-style:solid;
    border-color:#000;
    border-width:1px 1px 1px 1px;
/*    width:250px;*/
    height:0px;
    overflow: hidden;
    padding:3px;
    }
  img.copyBox {
    border:0;
    margin:0 4px 0 0;
    cursor:pointer;
    }

select {
      background-color:#fff;
      border:solid #000 1px;
      font:10px/130% 'trebuchet ms';
      color:#777;
      height:20px;
      width:78px;
      padding-left:2px;
      }

 select:focus {
      background-color:#eef6ff;
      border-color:#000;
      color:#000;
      }


  a.lastClick {
      text-decoration:none;
      border-bottom:1px dotted #c02;
      }
