#copyClipOpt {
  margin-bottom:-4px;
  }

#mark2ndRefs {
  margin-bottom:-4px;
  }

.htaTableClose {
  width:73px;
  padding-left:13px;
  margin-right:4px;
  margin-bottom:-2px;
  }

.htaTableClose2 {
  width:73px;
  padding-left:13px;
  float:right;
  margin-right:4px;
  }

div.clear {
  clear:both;
  font-size:1px;
  }

#htaTable tr.a + tr.b td, #htaTable tr.b + tr.a td {

  }

