/* This is used for para symbol  */  
td.par {
	color:#aaa;
	text-align:right;
	padding-right:0px;
}


/* This is used for mid-verse para break  */  
p.par {
	text-indent:15px;
	margin:0px;
}

td.td_bible_text {
	padding-left:3px;
}

td {
	font-size:80%;
}

h2 {
  font-size:100%;
  font-family:trebuchet ms,arial,helvetica;
}
  
h3 {
  font-size:100%;
  font-family:trebuchet ms,arial,helvetica;
}