span.Gk {
	font-size:120%;
	padding:1px;
	font-family:"Gentium","TITUS Cyberbit Basic","Palatino Linotype","Cardo","Minion Pro","KadmosU","BosporosU","New Athena Unicode","Galatia SIL","Galilee Unicode Gk","Porson","Tahoma","Lucida Grande","Arial Unicode MS";
	}