p.exindent1 {
	margin:5px 0px 5px 10px;
	font-size:90%;
}
p.in90 {
	margin:5px 0px 5px 90px;
}
p.in60 {
	margin:5px 0px 5px 60px;
}
p.in45 {
	margin:5px 0px 5px 45px;
}
p.in30 {
	margin:5px 0px 5px 30px;
}
p.in15 {
	margin:5px 0px 5px 15px;
}
p.exindent2 {
	margin:0px 0px 15px 0px;
	text-align:right;
	font-size:90%;
}

ul.exul {
	margin:0px 0px 0px 30px;
	list-style-image:url(../gifs/bluesquarea.gif);
}

ul.exul2 {
	margin:0px 0px 0px 30px;
	list-style-image:url(../gifs/clearpixel.gif);
}

span.exhead {
	color:#000000;
	font-weight:bold;
	margin:0px 0px 0px -15px;
	font-size:95%;
}

td.trincent {
	text-align:center;
	padding:10px;
	border:1px solid #000000;
}

td.trinleft {
	text-align:left;
	padding:10px;
	border:1px solid #000000;
}

div.exmain {
	color:#324395;
	font-weight:bold;
	font-size:120%;
	text-align:left;
	margin:18px 0px 10px 0px;
}

.actsbold {
	color:#324395;
	font-weight:bold;
}

div.levI {
	margin:10px 0px 0px 15px;
	text-indent:-15px;
}

div.levA {
	margin:0px 0px 0px 45px;
	text-indent:-15px;
}

div.lev1 {
	margin:0px 0px 0px 60px;
	text-indent:-15px;
}

.top {
	font-size:13px;
	font-weight:bold;
	color:FFFFFF;
	padding:0px 0px 0px 6px;
	background:#324395;
	vertical-align:middle;
}

.vrs_white	{
	padding:0px 3px 0px 3px;
	border-width:0px 1px 0px 1px;
	border-style:solid;
	border-color:#000;
	text-align:center;
	vertical-align:middle;
}

.vrs_center	{
	padding:0px 3px 0px 3px;
	border-width:0px 0px 0px 0px;
	border-style:solid;
	border-color:#000;
	text-align:center;
	vertical-align:middle;
}
.hd_left
	{padding:0px 0px 0px 6px;
	border-width:0px 1px 0px 1px;
	border-style:solid;
	border-color:000000;
	vertical-align:top;}

.hd_white
	{padding:0px 0px 0px 6px;
	border-width:0px 1px 0px 1px;
	border-style:solid;
	border-color:000000;
	vertical-align:middle;}

.hd_center
	{padding:0px 0px 0px 6px;
	border-width:0px 0px 0px 0px;
	border-style:solid;
	border-color:000000;
	vertical-align:middle;}

.hd_right
	{padding:0px 0px 0px 6px;
	border-width:0px 1px 0px 1px;
	border-style:solid;
	border-color:000000;
	vertical-align:middle;}

.hd_blue	{
	padding:0px 0px 0px 6px;
	vertical-align:middle;
	border-width:1px 1px 1px 1px;
	border-style:solid;
	border-color:#000;
}

.findword {
	color:#ff0000;
	font-weight:bold;
}

.top
	{font-size:13px;
	font-weight:bold;
	color:FFFFFF;
	border-width:1px;
	border-style:solid;
	border-color:000000;
	padding:0px 0px 0px 6px;
	background:#0069b3;
	vertical-align:middle;}

.top_left
	{font-size:13px;
	font-weight:bold;
	color:#ffffff;
	border-width:1px 1px 0px 1px;
	border-style:solid;
	border-color:#000000;
	padding:0px 0px 0px 6px;
	background:#324395;
	vertical-align:middle;}

.top_center
	{font-size:13px;
	font-weight:bold;
	color:FFFFFF;
	border-width:1px 0px 1px 0px;
	border-style:solid;
	border-color:000000;
	padding:0px 0px 0px 6px;
	background:#0069b3;
	vertical-align:middle;}

.top2
	{font-weight:bold;
	color:#ffffff;
	border-style:solid;
	border-color:000000;
	border-width:1px 1px 1px 1px;
	padding:0px 0px 0px 6px;
	background:#0069b3;
	vertical-align:middle;}

.vrs
	{padding:0px 0px 0px 6px;
	border-width:0px 1px 0px 1px;
	border-style:solid;
	border-color:#000000;
	vertical-align:middle;
	text-align:center;}

.vrs2
	{padding:0px 0px 0px 6px;
	border-width:0px 0px 0px 1px;
	border-style:solid;
	border-color:#000000;
	vertical-align:top;}

.vrs3
	{padding:0px 0px 0px 6px;
	border-width:0px 0px 0px 1px;
	border-style:solid;
	border-color:#000000;
	vertical-align:middle;}

.vrs-left
	{padding:0px 0px 0px 6px;
	border-width:0px 1px 0px 0px;
	border-style:solid;
	border-color:#000000;
	vertical-align:middle;
	text-align:left;}

.vrs_right
	{padding:0px 0px 0px 6px;
	vertical-align:middle;
	border-width:0px 1px 0px 1px;
	border-style:solid;
	border-color:000000;}

.vrs_center
	{padding:0px 0px 0px 6px;
	border-width:0px 0px 0px 0px;
	border-style:solid;
	border-color:#000000;
	vertical-align:middle;
	text-align:center;}

div.greybox {
	text-align:justify;
	background-color:#efefef;
	width:100%;
	padding:6px;
	border-style:solid;
	border-color:#000000;
	border-width:0px 1px 0px 1px;
	}

div.whitebox {
	text-align:justify;
	background-color:#ffffff;
	width:100%;
	padding:6px;
	border-style:solid;
	border-color:#000000;
	border-width:0px 1px 0px 1px;
}