  body {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    }

  td {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    text-align:left;
    }

  blockquote {
    font-size:90%;
    }

/*  strong is the CLASS for subheads and the final Return to Top */
  .strong {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    font-weight:bold;
    text-align:center;
    color:FFFFFF;
    padding:0px 0px 0px 0px;
    }

/*  strong1 is the CLASS for table heads */
  .strong1 {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    font-weight:bold;
    text-align:center;
    color:FFFFFF;
    padding:4px 0px 4px 0px;
    }

/* strong1nob is the CLASS for non-enboldened table heads */
  .strong1nob {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    text-align:center;
    color:FFFFFF;
    padding:4px 0px 4px 0px;
    }

/*  strong2 is the CLASS for content TDs */
  .strong2 {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    }

/* strong3 is the CLASS for centered TDs */
  .strong3 {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    text-align:center;
    }

  a {text-decoration: none;color:324395;}
  a:hover {text-decoration:underline;color:C40026;}

  .strong2 a {text-decoration: none;color:324395;}
  .strong2 a:hover {text-decoration:underline;color:C40026;}

  .strong a {text-decoration: none;color:FFFFFF;}
  .strong a:hover {text-decoration:underline;color:FFFFFF;}

  .submit {
    height:20;
    font-family: trebuchet ms;
    font-size:11px;}

 .submit2 {
    height:20;
    font-family: trebuchet ms;
    font-size:11px;}
    
  .entry {
    font-family: trebuchet ms,arial;
    font-size:11px;
    color:000000;
    border-style:solid;
    border-width:1px;
    border-color:0069B3;
    background-color:ffffff;}
  
  .entry2 {
    font-family: trebuchet ms,arial;
    color:000000;
    border-style:solid;
    border-width:1px;
    border-color:0069B3;
    background-color:EFF0EF;}
    
  .entry3 {
    font-family: trebuchet ms,arial;
    color:000000;
    border-style:solid;
    border-width:1px;
    border-color:0069B3;
    background-color:EFF0EF;}

  .textbox {
    font-family: trebuchet ms,arial;
    color:000000;
    border-style:solid;
    border-width:1px;
    border-color:0069B3;
    background-color:EFF0EF;}

