  body {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    text-align:left;
    }

  td {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    text-align:left;
    }


/*  strong is the CLASS for subheads and the final Return to Top */
  .strong {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    font-weight:bold;
    text-align:center;
    color:FFFFFF;
    padding:0px 0px 0px 0px;
    }

/*  strong1 is the CLASS for table heads */
  .strong1 {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    font-weight:bold;
    text-align:center;
    color:FFFFFF;
    }

/* strong1nob is the CLASS for non-enboldened table heads */
  .strong1nob {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    text-align:center;
    color:FFFFFF;
    }

/*  strong2 is the CLASS for content TDs */
  .strong2 {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    }

/* strong3 is the CLASS for centered TDs */
  .strong3 {
    font-family:trebuchet ms,arial,helvetica,verdana,sans serif;
    text-align:center;
    }

  a {text-decoration:underline;color:324395;}

  .strong2 a {text-decoration:underline;color:324395;}

  .strong a {text-decoration:underline;color:FFFFFF;}

  .submit {
    height:20;
    font-family: trebuchet ms;
    font-size:11px;}

  .submit2 {
    height:20;
    font-family: trebuchet ms;
    font-size:11px;}

