  .ef {
    padding:5px;
    background:#efefef;
    font-size:75%;
    }

  .ff {
    padding:5px;
    background:#ffffff;
    font-size:75%;
    }

  .break {
    background:#0069b3;
    border-style:solid;
    border-color:#000000;
    border-width:1px 0px 1px 0px;
    }

  .pos {
    color:#991A15;
    font-weight:bold;
   }

  .SrptH {
    color:#991A15;
    font-style:italic;
		text-decoration:underline;
   }
	 .SrptH:hover {
    color:#991A15;
    font-style:italic;
		text-decoration:none;
   }
   
  .nowrap {white-space:nowrap;}

  .print_only {
    display:none;
    }

  .non {}
  .menu_tablecell {}
  .table_printerfriendly {}
  
  @media print {
    .non {
      display: none;
      }
    .print_col {
      width: 100%;
      }
    .print_only {
      display:inline;
      }
    .head {
      width: 100%;
      background-color:#dfdfdf;
      color:#000;
      }
    .subhead {
      width: 100%;
      background-color:#efefef;
      color:#000;
      }
    .nav_but {
      display:none;
     }
    }
